.slick-slide > div {
    background: #ffffff;
    border-radius: 5px;
    margin: 0 10px;
	transition: all 0.3s;
}

.slick-dots li button:before {
    content: "⃝";
    font-size: 12px;
}

.slick-list {
    padding-bottom: 1em;
}

.lds-dual-ring {
		display: inline-block;
		width: 80px;
		height: 80px;
    }
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #69a507;
	border-color: #69a507 transparent #69a507 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
}
}
  